@import "reset.css";

.header{
    width: 100vw;
    height: 6rem; 
    background-color: #FFCACC;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 3.75rem; 
    padding-right: 3.75rem; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-title{
    font-size: 3rem; 
    text-align: center; 
    color: white;
    text-shadow: 
    -0.2rem -0.2rem 0 #FFAEB1,  
    0.2rem -0.2rem 0 #FFAEB1,
    -0.2rem  0.2rem 0 #FFAEB1,
    0.2rem  0.2rem 0 #FFAEB1;
}

.header-symbol, .header-menu{
    width:4rem; 
    height: 4rem;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
}

table {
    border: solid 0.18rem #FFCACC;
    border-collapse: collapse;
}

thead, tbody{
    display:block;
}

thead td {
    vertical-align: middle;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

thead tr {
    position: sticky;
    top: 0;
    width: 60rem;
    height: 4.2rem;
    background-color: #FFCACC; /* tr 요소에 배경색 적용 */
}


thead td:first-child {
    padding-left: 1rem;
}

tbody td:first-child{
    padding-left: 1rem;
}

tbody tr {
    height: 7.3rem;
}

tbody {
    max-height: 21.9rem;
    overflow:auto;
}

tbody td{
    vertical-align: middle;
    font-size: 1.3rem;
    color: #FFCACC;
    text-align: center;
    border-bottom: solid 0.18rem #FFCACC;
    border-collapse: collapse;
    box-sizing: border-box;
}

tbody tr:last-child td {
    border-bottom: none;
}

.td-title, .td-charge ,.td-cate {
    border-right: solid 0.18rem #FFCACC;
}


.td-input{
    width: 3rem;
}

.td-info {
    width: 21rem;
}

.td-img{
    width: 9rem;
}
.td-title{
    width: 13rem;
}

.td-charge{
    width: 11.5rem;
}

.td-cate{
    width: 11.5rem;
}

.td-btn {
    width: 11.5rem;
}

.delete-btn{
    width: 7rem;
    height: 3rem;
    background-color: #DBC4F0;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.cart-img{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
}

.button-box{
    position: fixed; 
    bottom: 5rem; 
}

.home-btn{
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    color: #D4E2D4;
    border: solid 0.25rem #D4E2D4;
    border-radius: 1rem;
    text-align: center;

}

.buy-btn{
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin-left: 4rem;
    background-color: #D4E2D4;
    cursor: pointer;
}