@import "reset.css";

body {
    background-color: #FAF3F0;
}

.header{
    width: 100%;
    height: 6rem; 
    background-color: #FFCACC;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 3.75rem; 
    padding-right: 3.75rem; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-title{
    font-size: 3rem; 
    text-align: center; 
    color: white;
    text-shadow: 
    -0.2rem -0.2rem 0 #FFAEB1,  
    0.2rem -0.2rem 0 #FFAEB1,
    -0.2rem  0.2rem 0 #FFAEB1,
    0.2rem  0.2rem 0 #FFAEB1;
}

.header-symbol, .header-menu{
    width:4rem; 
    height: 4rem;
}

/* footer */
footer {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCACC;
}

footer > h1 {
    font-size: 2rem;
    color: white;
}


/* nav */
nav{
    width:15rem;
    height:35rem;
    border-radius: 3.125rem;
    background-color: #DBC4F0;
    flex-direction: column;
    display:flex;
    position: fixed;
    top: 10rem;
    align-items: center;

}

nav > h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 2.5rem;

}

nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    background-color: white;
    margin-top: 2.7rem;
    font-size: 2rem;
    text-align: center;
    color: #D4E2D4;
    text-decoration: none;
}

/*nav > ul > li > a {
    
}*/

nav > ul > li:hover {
    background-color: #D4E2D4; 
    color: #FFFFFF;
}

/* banner */
/* main */
.main-content {
    margin-top: 10rem;
    margin-left: 20rem;
    margin-bottom: 4rem;
}

.banner {
    position:relative;
    display: flex;
    align-items: center;
    margin:0;
    width: 67rem;
    height: 10rem;
    overflow: hidden;

}

.banner > ul {
    position: absolute;
    display: flex;
    gap: 0 3rem;
    width: max-content;
    animation: aniScroll 15s linear infinite;
} 

.banner > ul.n2 {
    animation: aniScroll-2 15s linear infinite;
}

.banner > ul.n2 > li:first-child {
    margin-left: 3rem; 
}



.banner > ul > li > img{
    width: 9rem;
    height: 9rem;
    border-color: #DBC4F0;
    border-radius: 2rem;
    border-width: 0.5rem;
    border-style: solid;
}

/* 무한 스크롤 */
@keyframes aniScroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes aniScroll-2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

/*section*/
section { 
    scroll-margin-top: 7rem; 
}

.box {
    margin-top: 2.3rem;
}

/*section > h2 {
    font-size: 2rem;
    color: #FDA0A4;
}*/

.title {
    font-size: 2rem;
    color: #FDA0A4;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 17.3rem;
    background-color: #D4E2D4;
    border-radius: 2.5rem;
    transition: transform 0.5s ease;
}


.item-box img:nth-of-type(1){
    width: 8rem;
    height: 8.2rem;
    border-color: #FDA0A4;
    border-radius: 1rem;
    border-width: 0.3rem;
    border-style: solid;
    margin-top: 1.4rem;
}

.fas.fa-heart {
    margin-top: 0.8rem;
    font-size: 1.5rem; 
    color: #898989;
}

.fas.fa-heart:hover {
    margin-top: 0.8rem;
    font-size: 1.5rem; 
    color: #FDA0A4;
}



.item-box > h2{
    font-size: 1.4rem;
    color: #FDA0A4;
    text-align: center;
    margin-top: 0.3rem;
}

.item-box > p {
    font-size: 1.4rem;
    color: #FDA0A4;
    text-align: center;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 12rem);
    gap: 2rem;
    margin-top: 1.2rem;
    padding-right: 3rem;
}

.item-box:hover {
    animation: pulseAnimation 1s infinite ease-in-out; 
}


/* 애니메이션 */
@keyframes pulseAnimation {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1); 
    }
}

/* 반응형 */
@media (max-width: 1400px) {
    .items {
        grid-template-columns: repeat(4, 12rem);
    }
}


@media (max-width: 1200px) {
    .items {
        grid-template-columns: repeat(3, 12rem);

    }
}


@media (max-width: 1000px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
    .item-box{
        width: 16rem;
        height: 19.3rem;
    }
    .item-box img:nth-of-type(1){
        width: 10rem;
        height: 10.2rem;
    }

}


@media (max-width: 870px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
    .item-box{
        width: 19rem;
        height: 21.7rem;
    }
    .item-box img:nth-of-type(1){
        width: 12rem;
        height: 12.2rem;
    }

}

