@import "reset.css";

body {
    background-color: #FAF3F0;
}

.header{
    width: 100%;
    height: 6rem; 
    background-color: #FFCACC;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 3.75rem; 
    padding-right: 3.75rem; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-title{
    font-size: 3rem; 
    text-align: center; 
    color: white;
    text-shadow: 
    -0.2rem -0.2rem 0 #FFAEB1,  
    0.2rem -0.2rem 0 #FFAEB1,
    -0.2rem  0.2rem 0 #FFAEB1,
    0.2rem  0.2rem 0 #FFAEB1;
}

.header-symbol{
    width:4rem; 
    height: 4rem;
}

.header-menu{
    width:4rem; 
    height: 4rem; 
}

nav{
    width:15rem;
    height:35rem;
    border-radius: 3.125rem;
    background-color: #DBC4F0;
    flex-direction: column;
    display:flex;
    position: fixed;
    top: 10rem;
    align-items: center;

}


/* footer */
.footer {
    width: 100%;
    margin-top: 1rem;
}

/* main */
.main-content {
    margin-top: 10rem;
    margin-left: 20rem;
}

/* nav */
nav > h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 2.5rem;

}

nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    background-color: white;
    margin-top: 2.7rem;
}

nav > ul > li > a {
    font-size: 2rem;
    text-align: center;
    color: #D4E2D4;
}

/* banner */

.banner {
    position:relative;
    display: flex;
    align-items: center;
    margin:0;
    width: 67rem;
    height: 10rem;
    overflow: hidden;

}

.banner > ul {
    position: absolute;
    display: flex;
    gap: 0 3rem;
    width: max-content;
    animation: aniScroll 15s linear infinite;
} 

.banner > ul.n2 {
    animation: aniScroll-2 15s linear infinite;
}

.banner > ul.n2 > li:first-child {
    margin-left: 3rem; 
}



.banner > ul > li > img{
    width: 9rem;
    height: 9rem;
    border-color: #DBC4F0;
    border-radius: 2rem;
    border-width: 0.5rem;
    border-style: solid;
}

@keyframes aniScroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes aniScroll-2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}


.box {
    margin-top: 2.3rem;
}

/* section all */
section > h2 {
    font-size: 2rem;
    color: #FDA0A4;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 19rem;
    background-color: #D4E2D4;
    border-radius: 2.5rem;
}

.item-box img:nth-of-type(1){
    width: 9rem;
    height: 9.2rem;
    border-color: #FDA0A4;
    border-radius: 1rem;
    border-width: 0.3rem;
    border-style: solid;
    margin-top: 1.4rem;
}

.item-box img:nth-of-type(2){
    width: 2rem;
    height: 2rem;
    margin-top: 0.8rem;
}

.item-box > h2{
    font-size: 1.6rem;
    color: #FDA0A4;
    text-align: center;
    margin-top: 0.3rem;
}

.item-box > p {
    font-size: 1.6rem;
    color: #FDA0A4;
    text-align: center;
}

.items {
    display: grid;
    width: 70rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; /* 원하는 간격으로 조정 */
    margin-top: 1.2rem;
}


